<wrapper>
  <app-search-bar #search [class.show]="hideButton"></app-search-bar>
<ng-container *ngIf="!(bookService.booksCopies$.value)">
<app-list-wrapper @searchBarList *ngIf="bookService.books$ | async as books">
      <ng-container ngProjectAs="[list]">
        <app-search-bar-list *ngFor="let book of books" (click)="findBook(book)">
          {{ book.volumeInfo.title | slice: 0 : 60}} 
        </app-search-bar-list>
      </ng-container>
</app-list-wrapper>
</ng-container>  

      
<ng-container *ngIf='bookService.booksCopies$ | async as books'>
  <app-search-card [books]="books" [searchBook]="search.search.value" @horizontal>
  </app-search-card>
</ng-container>

  <app-start-search-button (click)="startSearch()" 
                       @button *ngIf="!hideButton">
    SEARCH A BOOK
  </app-start-search-button>

</wrapper>


  
